<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

**An Introduction**
In this notebook, Data Science Tools and Ecosystem are summarized.
There are two type of Data Science Tools avialable, one is open source and Commercial.
Mainly we are going to focus on open source tools.
1) Jupyter Notebook
2) VS Code

Some of the popular languages that Data Scientists use are:

1. Python
2. R and RStudio
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Ploty

| Data Science Tools |
| -------------| 
| RStudio | 
| VS Code | 
| Jupyter Notebook | 
| Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python
1. (3+4)*5
2. (5+3)/2

In [3]:
# This is simple arithmetics expression to multiply then add integer
(3*4)+5

17

In [4]:
# this will convert 200 minutes tohours by diving by 60
h=200/60
h

3.3333333333333335

## Author Name : Upendra Valera